useDynLib(randomForestFML, .registration=TRUE)

export(combine, getTree, grow, importance, margin, MDSplot, na.roughfix,
       partialPlot, randomForestFML, rfImpute, treesize, tuneRF,
       varImpPlot, varUsed, rfNews, outlier, classCenter, rfcv)

S3method(print, randomForestFML)
S3method(predict, randomForestFML)
S3method(plot, randomForestFML)
S3method(plot, margin)
S3method(margin, randomForestFML)
S3method(partialPlot, randomForestFML)
S3method(grow, randomForestFML)
S3method(importance, randomForestFML)
S3method(outlier, randomForestFML)
S3method(outlier, default)

S3method(randomForestFML, formula)
S3method(randomForestFML, default)
S3method(rfImpute, formula)
S3method(rfImpute, default)

S3method(na.roughfix, data.frame)
S3method(na.roughfix, default)

importFrom("grDevices", "rainbow")
importFrom("graphics", "axis", "barplot", "dotchart", "lines",
           "matplot", "mtext", "pairs", "par", "plot", "plot.default",
           "points")
importFrom("stats", "delete.response", "mad", "median", "model.frame",
           "model.response", "na.fail", "na.omit", "napredict",
           "predict", "quantile", "reformulate", "terms", "update",
           "var", "weighted.mean")
